<!DOCTYPE html>
<html>
<head>
    <title>AI Government Scheme Advisor</title>
</head>
<body>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="navbar">
    <div>
        <a href="/dashboard">Policy Pulse AI</a>
        <a href="/upload-policy">Upload Policy</a>
        <a href="/scheme-advisor">Scheme Advisor</a>

        {% if session.get("role") == "admin" %}
            <a href="/admin">Admin</a>
        {% endif %}
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

<h2>AI Government Scheme Advisor</h2>

<form method="POST">
    Age: <input type="number" name="age"><br><br>

    Gender:
    <select name="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select><br><br>

    Monthly Income: <input type="text" name="income"><br><br>

    Occupation:
    <select name="occupation">
        <option>Student</option>
        <option>Farmer</option>
        <option>Business Owner</option>
        <option>Job Seeker</option>
        <option>Government Employee</option>
        <option>Private Employee</option>
        <option>Homemaker</option>
        <option>Other</option>
    </select><br><br>

    State: <input type="text" name="state"><br><br>

    Area Type:
    <select name="area_type">
        <option>Rural</option>
        <option>Urban</option>
    </select><br><br>

    What support do you need?<br>
    <textarea name="need"></textarea><br><br>

    <button type="submit">Find Suitable Schemes</button>
</form>

<br>
<a href="/dashboard">Back to Dashboard</a>

</div>
</body>
</html>
